@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Manrope", sans-serif;  
    font-size: 13px;
    background-color: var(--Light-Grayish-Blue);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 300px auto;
}

.picture {
    height: 400px;
    width: 400px;
    
    background: url(/images/drawers.jpg);
}

.card {
    height: 400px;
    width: 550px;
   background-color: white;
    padding: 50px;
}

.card h1 {
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1rem;
    
}

.profile {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.profile .icon  {
    height: 35px;
    width: 35px;
    background-color: var(--Light-Grayish-Blue);
    padding: 8px;
}

.profile .icon:hover {
    cursor: pointer;
    background-color: hsl(214, 8%, 83%);
}
 


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-card {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Very-Dark-Grayish-Blue);
    width: 250px;
    padding: 15px 30px;
    border-radius: 10px;
    color: var(--Light-Grayish-Blue);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    left: 300px;
    bottom: 110px;

}

.social-card p {
    font-size: 0.9rem;
}

.social-card img {
    height: 20px;
}



